# Упражнение 2.1
Этот элемент курса оценивается как 'Упражнение 2'
вес: 1.0

1) [Скачайте данные](https://www.finam.ru/profile/mosbirzha-fyuchersy/spfb-rts-12-18-riz8/export/?market=17) с сайта Московской фьючерсной биржи по контракту SPFB.RTS-12.18 (RIZ8) с 1 сентября по 31 декабря 2018 года с минутным интервалом. В файле должны присутствовать следующие поля:

    <DATE> Дата проведения торгов
    <TIME> Время, соответствующее началу минутного интервала
    <OPEN> Цена открытия, т.е. цена первой сделки 
    <HIGH> Максимальная цена сделки за выбранный интервал
    <LOW> Минимальная цена сделки за выбранный интервал
    <CLOSE> Цена закрытия, т.е. цена последней сделки
    <VOL> Объем торгов за выбранный интервал

2) Для каждого минутного интервала сосчитайте среднюю цену (PRICE), усреднив цену открытия, закрытия, минимума и максимума.

3) Для каждого минутного интервала вычислите оборот по совершенным сделкам, умножив среднюю цену (PRICE) на объем (VOL).

Рекомендуем ознакомиться с [инструкцией](./data/Упражнение_по_сводным_таблицам.pdf) по построению сводной таблицы.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv('./data/SPFB.RTS-12.18_180901_181231.csv')
#df.info()
df

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,SPFB.RTS-12.18,1,03/09/18,10:01,107900.0,108060.0,107900.0,108030.0,3
1,SPFB.RTS-12.18,1,03/09/18,10:02,107960.0,107960.0,107960.0,107960.0,5
2,SPFB.RTS-12.18,1,03/09/18,10:04,108000.0,108000.0,108000.0,108000.0,8
3,SPFB.RTS-12.18,1,03/09/18,10:05,108000.0,108000.0,108000.0,108000.0,1
4,SPFB.RTS-12.18,1,03/09/18,10:08,108080.0,108080.0,108080.0,108080.0,1
...,...,...,...,...,...,...,...,...,...
58965,SPFB.RTS-12.18,1,20/12/18,18:40,109380.0,109380.0,109380.0,109380.0,1
58966,SPFB.RTS-12.18,1,20/12/18,18:41,109380.0,109390.0,109380.0,109390.0,10
58967,SPFB.RTS-12.18,1,20/12/18,18:43,109380.0,109390.0,109380.0,109390.0,12
58968,SPFB.RTS-12.18,1,20/12/18,18:44,109390.0,109390.0,109390.0,109390.0,3
58969,SPFB.RTS-12.18,1,20/12/18,18:45,109390.0,109390.0,109380.0,109380.0,3

In [2]:
# Convert date from string to Datetime format
df['<DATE>'] = pd.to_datetime(df['<DATE>'], dayfirst=True)

In [3]:
# Mean <PRICE> in 1 minute
df['<PRICE>'] = (df['<OPEN>'] + df['<CLOSE>'] + df['<LOW>'] + df['<HIGH>']) / 4

# Mean turnover in 1 minute
df['<TOTAL>'] = df['<PRICE>'] * df['<VOL>']

# Print necessary columns
df.loc[:, ['<PRICE>', '<TOTAL>']]

        <PRICE>    <TOTAL>
0      107972.5   323917.5
1      107960.0   539800.0
2      108000.0   864000.0
3      108000.0   108000.0
4      108080.0   108080.0
...         ...        ...
58965  109380.0   109380.0
58966  109385.0  1093850.0
58967  109385.0  1312620.0
58968  109390.0   328170.0
58969  109385.0   328155.0

[58970 rows x 2 columns]

### Задача 1
Вычислите суммарный оборот по совершенным сделкам за дату: 31.10.2018.  
<sub>***Ответ округлите до целого.***</sub>

In [4]:
# Convert to int rounded sum of <TOTAL> column where <DATE> is 31.10.2018
int(round(df[df['<DATE>'] == '2018-10-31']['<TOTAL>'].sum()))

52285636700

### Задача 2
Вычислите количество минутных интервалов за дату 29.11.2018, когда цена не менялась (цена открытия равна цене закрытия).  
<sub>***Вычислите количество интервалов.***</sub>

In [5]:
# Count number of rows where (open price equals close price) and (date is 29.11.2018)
df[(df['<OPEN>'] == df['<CLOSE>']) & (df['<DATE>'] == '2018-11-29')]['<OPEN>'].count()

64

### Задача 3
Вычислите общий оборот по всем сделкам за все пятницы октября.  
<sub>***Ответ округлите до целого.***</sub>

In [6]:
# October is 10th month, Friday is a 4 th day of week (Monday=0, Sunday=6)
int(round(df[(df['<DATE>'].dt.month == 10) & (df['<DATE>'].dt.weekday == 4)]['<TOTAL>'].sum()))

252332769780